## Import du module Pandas et lecture des bases de données (numéro 1 : réponses à un sondage de salariés, numéro 2 : offres d'emploi)

In [19]:
# Import of the useful libraries
import pandas as pd
import sqlite3

# Import of sys so that Python recognizes the folders as modules. Besides, we have created empty __init__.py files to use our files as modules too
import sys
sys.path.insert(0, "/home/apprenant/Documents/Brief-4-Rachid-Karbiche")

# Import of the objects of our py files
from src.d02_intermediate.integrate_data import save_to_sql
from src.d01_data.create_database import conn, cur

# Reading of our first database Salary Survey Responses
survey_path = '../Data/01_raw/2020_Data_Professional_Salary_Survey_Responses.xlsx'
survey_data = pd.read_excel(survey_path, engine='openpyxl', skiprows=3)

# Reading of our second database DataAnalyst
job_applying_path = '../Data/01_raw/DataAnalyst.csv'
job_applying_data = pd.read_csv(job_applying_path)

## 1. BDD 1 : Examen de la base de données et suppression des colonnes inutiles pour le brief

Pour cette première phase, analysons la structure de notre base de données

In [20]:
print(survey_data.head())
print(survey_data.columns)
print(survey_data.shape)

   Survey Year               Timestamp  SalaryUSD        Country PostalCode  \
0         2020 2020-01-04 18:50:34.328   115000.0  United States         03
1         2020 2020-01-04 10:43:01.821   100000.0  United States        NaN
2         2020 2020-01-04 09:51:45.885   100000.0          Spain      28046
3         2020 2020-01-04 01:08:53.605    70000.0  United States      94133
4         2020 2020-01-03 15:28:54.163   110000.0  United States      95354

        PrimaryDatabase  YearsWithThisDatabase  \
0  Microsoft SQL Server                     15
1                 Other                      6
2  Microsoft SQL Server                      2
3  Microsoft SQL Server                      3
4                Oracle                     30

                                      OtherDatabases    EmploymentStatus  \
0  Microsoft SQL Server, MongoDB, Azure SQL DB (a...  Full time employee
1                                      MySQL/MariaDB  Full time employee
2                                      MySQL/MariaDB  Full time employee
3                                   Microsoft Access  Full time employee
4  Microsoft SQL Server, Oracle, MySQL/MariaDB, P...  Full time employee

                                            JobTitle  ...  \
0  DBA (Production Focus - build & troubleshoot s...  ...
1                  Developer: App code (C#, JS, etc)  ...
2                                              Other  ...
3                                            Analyst  ...
4  DBA (General - splits time evenly between writ...  ...

  NewestVersionInProduction  OldestVersionInProduction  \
0           SQL Server 2019            SQL Server 2016
1                  informix                   informix
2           SQL Server 2017            SQL Server 2017
3           SQL Server 2016            SQL Server 2012
4           SQL Server 2016          SQL Server 2008R2

  PopulationOfLargestCityWithin20Miles  EmploymentSector LookingForAnotherJob  \
0                 20K-99K (large town)  Private business            Not Asked
1                     1M+ (metropolis)  Private business            Not Asked
2                     1M+ (metropolis)  Private business            Not Asked
3                     1M+ (metropolis)  Private business            Not Asked
4                     100K-299K (city)        Non-profit            Not Asked

                      CareerPlansThisYear Gender OtherJobDuties  \
0  Stay with the same employer, same role   Male      Not Asked
1                       Prefer not to say   Male      Not Asked
2  Stay with the same employer, same role   Male      Not Asked
3         Change both employers and roles   Male      Not Asked
4  Stay with the same employer, same role   Male      Not Asked

  KindsOfTasksPerformed Counter
0             Not Asked       1
1             Not Asked       1
2             Not Asked       1
3             Not Asked       1
4             Not Asked       1

[5 rows x 31 columns]
Index(['Survey Year', 'Timestamp', 'SalaryUSD', 'Country', 'PostalCode',
       'PrimaryDatabase', 'YearsWithThisDatabase', 'OtherDatabases',
       'EmploymentStatus', 'JobTitle', 'ManageStaff', 'YearsWithThisTypeOfJob',
       'HowManyCompanies', 'OtherPeopleOnYourTeam', 'CompanyEmployeesOverall',
       'DatabaseServers', 'Education', 'EducationIsComputerRelated',
       'Certifications', 'HoursWorkedPerWeek', 'TelecommuteDaysPerWeek',
       'NewestVersionInProduction', 'OldestVersionInProduction',
       'PopulationOfLargestCityWithin20Miles', 'EmploymentSector',
       'LookingForAnotherJob', 'CareerPlansThisYear', 'Gender',
       'OtherJobDuties', 'KindsOfTasksPerformed', 'Counter'],
      dtype='object')
(8627, 31)

La base de données est composée de 8 627 entrées pour 31 colonnes. Parmi elles, certaines ne seront pas utiles dans l'étude de la base de données.

### Quelles colonnes conserver ?

In [21]:
survey_data = survey_data[['SalaryUSD','Country','PostalCode','EmploymentStatus','JobTitle','YearsWithThisTypeOfJob',
          'HowManyCompanies','OtherPeopleOnYourTeam',
          'PopulationOfLargestCityWithin20Miles', 'CareerPlansThisYear',
          'Gender']]
print(survey_data.head())

   SalaryUSD        Country PostalCode    EmploymentStatus  \
0   115000.0  United States         03  Full time employee
1   100000.0  United States        NaN  Full time employee
2   100000.0          Spain      28046  Full time employee
3    70000.0  United States      94133  Full time employee
4   110000.0  United States      95354  Full time employee

                                            JobTitle  YearsWithThisTypeOfJob  \
0  DBA (Production Focus - build & troubleshoot s...                       5
1                  Developer: App code (C#, JS, etc)                       6
2                                              Other                       3
3                                            Analyst                       3
4  DBA (General - splits time evenly between writ...                      25

                                    HowManyCompanies OtherPeopleOnYourTeam  \
0  1 (this is the only company where I've had thi...                     2
1  1 (this is the only company where I've had thi...           More than 5
2  1 (this is the only company where I've had thi...                     1
3  1 (this is the only company where I've had thi...                     2
4                                                  3                  None

  PopulationOfLargestCityWithin20Miles  \
0                 20K-99K (large town)
1                     1M+ (metropolis)
2                     1M+ (metropolis)
3                     1M+ (metropolis)
4                     100K-299K (city)

                      CareerPlansThisYear Gender
0  Stay with the same employer, same role   Male
1                       Prefer not to say   Male
2  Stay with the same employer, same role   Male
3         Change both employers and roles   Male
4  Stay with the same employer, same role   Male

Dans le cadre de mon travail, j'ai choisi de conserver onze d'entre elles. J'aurais pu en conserver davantage, notamment dans le cadre de la question sur le plan de carrière de notre rêve américain. D'ailleurs, pour celle-ci, j'ai gardé les colonnes EmploymentStatus, CareerPlansThisYear et PopulationOfLargestCityWithin20Miles.

## 2. BDD1 : vérification des données manquantes dans la base de données

In [22]:
print(survey_data.isnull().sum())

postalcode_missing_values = survey_data.PostalCode.isnull().sum()
total_values = survey_data.shape[0]
part_postalcode_missing_values = (postalcode_missing_values / total_values) * 100
print(part_postalcode_missing_values, '% de données manquantes')

SalaryUSD                                  0
Country                                    0
PostalCode                              1390
EmploymentStatus                           0
JobTitle                                   0
YearsWithThisTypeOfJob                     0
HowManyCompanies                           0
OtherPeopleOnYourTeam                      0
PopulationOfLargestCityWithin20Miles       0
CareerPlansThisYear                        0
Gender                                     0
dtype: int64
16.112205865306596 % de données manquantes

Comme spécifié plus haut, le nombre d'entrées dans la première base de données est de 8 627. Ici, PostalCode détient 1 390 entrées manquantes, ce qui représente un peu plus de 16 % des entrées totales. Cette donnée n'est pas la plus importante de la base et sa manipulation n'en sera que ponctuelle donc il n'est pas nécessaire de toucher à ces valeurs manquantes.

## Qu'en est-il de ces codes postaux manquants ?

Il serait difficile d'uniformiser les codes postaux car il n'existe pas un code postal universel. De ce fait, pas besoin d'y toucher, surtout qu'elle n'est pas prépondérante dans l'étude de la base de données.

## 3. BDD1 : Le traitement des dates dans la base de données

In [23]:
print(survey_data.dtypes)

SalaryUSD                               float64
Country                                  object
PostalCode                               object
EmploymentStatus                         object
JobTitle                                 object
YearsWithThisTypeOfJob                    int64
HowManyCompanies                         object
OtherPeopleOnYourTeam                    object
PopulationOfLargestCityWithin20Miles     object
CareerPlansThisYear                      object
Gender                                   object
dtype: object

Aucune donnée de type "date" présente dans la base de données donc passons à la suite !

## 4. BDD1 : Gérons les doublons !

In [24]:
print(survey_data.duplicated().value_counts())
print(survey_data[survey_data.duplicated(keep=False)])

survey_data = survey_data.drop_duplicates(keep='first')
print(survey_data.duplicated().value_counts())

False    8479
True      148
dtype: int64
      SalaryUSD        Country PostalCode    EmploymentStatus  \
52     148000.0  United States      60642  Full time employee
53     148000.0  United States      60642  Full time employee
62     100000.0         Canada        NaN  Full time employee
64     100000.0         Canada        NaN  Full time employee
144     71500.0  United States      48192  Full time employee
...         ...            ...        ...                 ...
8523    95000.0  United States  Not Asked  Full time employee
8562   105000.0  United States  Not Asked  Full time employee
8595    52000.0  United States  Not Asked  Full time employee
8611    96000.0  United States  Not Asked  Full time employee
8612    85000.0  United States  Not Asked  Full time employee

              JobTitle  YearsWithThisTypeOfJob  \
52      Data Scientist                       7
53      Data Scientist                       7
62             Analyst                       7
64             Analyst                       7
144            Manager                       5
...                ...                     ...
8523               DBA                       4
8562               DBA                       6
8595  Developer: T-SQL                       2
8611               DBA                       5
8612               DBA                       2

                                       HowManyCompanies OtherPeopleOnYourTeam  \
52    2 (I worked at another similar position elsewh...                     1
53    2 (I worked at another similar position elsewh...                     1
62    2 (I worked at another similar position elsewh...                     1
64    2 (I worked at another similar position elsewh...                     1
144   2 (I worked at another similar position elsewh...                     1
...                                                 ...                   ...
8523                                          Not Asked                     2
8562                                          Not Asked                     1
8595                                          Not Asked                     2
8611                                          Not Asked                  None
8612                                          Not Asked                  None

     PopulationOfLargestCityWithin20Miles  \
52                       1M+ (metropolis)
53                       1M+ (metropolis)
62                       1M+ (metropolis)
64                       1M+ (metropolis)
144                  300K-1M (large city)
...                                   ...
8523                            Not Asked
8562                            Not Asked
8595                            Not Asked
8611                            Not Asked
8612                            Not Asked

                                 CareerPlansThisYear     Gender
52    Stay with the same employer,  but change roles     Female
53    Stay with the same employer,  but change roles     Female
62            Stay with the same employer, same role       Male
64            Stay with the same employer, same role       Male
144    Stay with the same role, but change employers       Male
...                                              ...        ...
8523                                       Not Asked  Not Asked
8562                                       Not Asked  Not Asked
8595                                       Not Asked  Not Asked
8611                                       Not Asked  Not Asked
8612                                       Not Asked  Not Asked

[276 rows x 11 columns]
False    8479
dtype: int64

La base de données est composée de plusieurs doublons, 148 précisément. En examinant la base de données, on remarque que seul le timestamp permet de différencier les doublons entre eux. On peut donc relever ceux-ci en supprimant la colonne Timestamp. L'enregistrement pour ces doublons est seulement différencié de quelques secondes. On peut donc les enlever et ne garder qu'un exemplaire de chaque.

## 5. BDD1 : Vérifions la consistence des données !

Le but est de relever des inconsistances dans les noms des données.

In [25]:
print(sorted(survey_data.Country.unique()))
print("----------------------------------")
survey_data = survey_data.loc[survey_data['Country'] == 'United States']
print(survey_data)

['Albania', 'Anguilla', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Bahrain', 'Belarus', 'Belgium', 'Bermuda', 'Bolivia', 'Brazil', 'Bulgaria', 'Canada', 'Cayman Islands', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Czech Republic', 'Denmark', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guernsey', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Jersey', 'Jordan', 'Kenya', 'Latvia', 'Lithuania', 'Luxembourg', 'Macedonia', 'Malaysia', 'Maldives', 'Malta', 'Mexico', 'Moldova', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Norway', 'Pakistan', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Saudi Arabia', 'Serbia and Montenegro', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Thailand', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Vanuatu', 'Venezuela', 'Vietnam']
----------------------------------
      SalaryUSD        Country PostalCode  \
0      115000.0  United States         03
1      100000.0  United States        NaN
3       70000.0  United States      94133
4      110000.0  United States      95354
5       79500.0  United States      78727
...         ...            ...        ...
8605    78000.0  United States  Not Asked
8608   101750.0  United States  Not Asked
8609    66000.0  United States  Not Asked
8614   137500.0  United States  Not Asked
8626   200000.0  United States  Not Asked

                                       EmploymentStatus  \
0                                    Full time employee
1                                    Full time employee
3                                    Full time employee
4                                    Full time employee
5                                    Full time employee
...                                                 ...
8605                                 Full time employee
8608                                 Full time employee
8609                                 Full time employee
8614  Full time employee of a consulting/contracting...
8626                                 Full time employee

                                               JobTitle  \
0     DBA (Production Focus - build & troubleshoot s...
1                     Developer: App code (C#, JS, etc)
3                                               Analyst
4     DBA (General - splits time evenly between writ...
5                                               Analyst
...                                                 ...
8605                                                DBA
8608                                                DBA
8609                  Developer: App code (C#, JS, etc)
8614                                                DBA
8626                                                DBA

      YearsWithThisTypeOfJob  \
0                          5
1                          6
3                          3
4                         25
5                          2
...                      ...
8605                      10
8608                      13
8609                      10
8614                       6
8626                       5

                                       HowManyCompanies OtherPeopleOnYourTeam  \
0     1 (this is the only company where I've had thi...                     2
1     1 (this is the only company where I've had thi...           More than 5
3     1 (this is the only company where I've had thi...                     2
4                                                     3                  None
5     1 (this is the only company where I've had thi...                  None
...                                                 ...                   ...
8605                                          Not Asked                  None
8608                                          Not Asked                  None
8609                                          Not Asked                  None
8614                                          Not Asked                     4
8626                                          Not Asked                     2

     PopulationOfLargestCityWithin20Miles  \
0                    20K-99K (large town)
1                        1M+ (metropolis)
3                        1M+ (metropolis)
4                        100K-299K (city)
5                        1M+ (metropolis)
...                                   ...
8605                            Not Asked
8608                            Not Asked
8609                            Not Asked
8614                            Not Asked
8626                            Not Asked

                         CareerPlansThisYear     Gender
0     Stay with the same employer, same role       Male
1                          Prefer not to say       Male
3            Change both employers and roles       Male
4     Stay with the same employer, same role       Male
5     Stay with the same employer, same role       Male
...                                      ...        ...
8605                               Not Asked  Not Asked
8608                               Not Asked  Not Asked
8609                               Not Asked  Not Asked
8614                               Not Asked  Not Asked
8626                               Not Asked  Not Asked

[5542 rows x 11 columns]

Dans le cadre du brief, les questions concernent exclusivement les Etats-Unis donc on peut enlever les lignes qui concernent les autres pays. Au lieu de 8 627 lignes, nous n'en avons plus que 5 542.

In [26]:
print(sorted(survey_data.EmploymentStatus.unique()))
print("----------------------------------")
print(sorted(survey_data.JobTitle.unique()))
print("------------------------------------")
print(survey_data.JobTitle.value_counts())
print("----------------------------------")
print(sorted(survey_data.PopulationOfLargestCityWithin20Miles.unique()))
print("----------------------------------")
print(sorted(survey_data.Gender.unique()))

['Full time employee', 'Full time employee of a consulting/contracting company', 'Independent consultant, contractor, freelancer,  or company owner', 'Independent or freelancer or company owner', 'Part time']
----------------------------------
['Analyst', 'Analytics consultant', 'Architect', 'Consultant', 'DBA', 'DBA (Development Focus - tunes queries, indexes, does deployments)', 'DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers)', 'DBA (Production Focus - build & troubleshoot servers, HA/DR)', 'Data Scientist', 'Database Specialist', 'DevOps, Sr Software Engineer DBA', 'Developer: App code (C#, JS, etc)', 'Developer: Business Intelligence (SSRS, PowerBI, etc)', 'Developer: T-SQL', 'Engineer', 'Manager', 'Other', 'Principal database engineer', 'Sr Consultant ', 'Systems Administrator', 'Technician ']
------------------------------------
DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers)    1007
DBA                                                                                                            882
DBA (Production Focus - build & troubleshoot servers, HA/DR)                                                   579
Developer: T-SQL                                                                                               529
Architect                                                                                                      460
Manager                                                                                                        378
Developer: Business Intelligence (SSRS, PowerBI, etc)                                                          359
Developer: App code (C#, JS, etc)                                                                              350
Analyst                                                                                                        347
Engineer                                                                                                       271
DBA (Development Focus - tunes queries, indexes, does deployments)                                             246
Other                                                                                                           89
Data Scientist                                                                                                  36
Systems Administrator                                                                                            2
Consultant                                                                                                       1
Technician                                                                                                       1
Principal database engineer                                                                                      1
Database Specialist                                                                                              1
Analytics consultant                                                                                             1
DevOps, Sr Software Engineer DBA                                                                                 1
Sr Consultant                                                                                                    1
Name: JobTitle, dtype: int64
----------------------------------
['100K-299K (city)', '1M+ (metropolis)', '20K-99K (large town)', '300K-1M (large city)', '<= 20,000 (town)', 'Not Asked']
----------------------------------
['Alien', 'Any human one', 'Attack Helicopter', 'Attack Helicopter. (serious dude, gender questions?)', 'Attack helicopter', 'Cyborg', 'Dragon', 'Female', 'I am Batman', 'Male', 'Meat Popsicle ', 'Non-binary/third gender', 'Not Asked', 'Prefer not to say', 'This question is inappropriate. ', 'Vulcan', 'confused', 'human  This is also my race.', 'mosquito ', 'toad frog']

En voyant les valeurs uniques de différentes colonnes, on remarque que les données semblent consistantes sauf du côté de nos métiers. En effet, plusieurs métiers ont pour titre DBA avec de nombreuses précisions derrière. De plus, certains métiers sont sous-représentés en nombre. On va donc faire deux choses : regrouper les métiers sous-représentés en une catégorie "Other" et regrouper aussi entre eux les métiers qui commencent par DBA.

In [27]:
x = survey_data.JobTitle.value_counts()
survey_data.loc[survey_data.JobTitle.isin(x[x <= 5].index), "JobTitle"] = "Other"
print(survey_data.JobTitle.value_counts())
print("-------------------------------------")
survey_data.JobTitle = survey_data.JobTitle.apply(lambda x: 'DBA' if 'DBA' in x else x)
print(survey_data)

DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers)    1007
DBA                                                                                                            882
DBA (Production Focus - build & troubleshoot servers, HA/DR)                                                   579
Developer: T-SQL                                                                                               529
Architect                                                                                                      460
Manager                                                                                                        378
Developer: Business Intelligence (SSRS, PowerBI, etc)                                                          359
Developer: App code (C#, JS, etc)                                                                              350
Analyst                                                                                                        347
Engineer                                                                                                       271
DBA (Development Focus - tunes queries, indexes, does deployments)                                             246
Other                                                                                                           98
Data Scientist                                                                                                  36
Name: JobTitle, dtype: int64
-------------------------------------
      SalaryUSD        Country PostalCode  \
0      115000.0  United States         03
1      100000.0  United States        NaN
3       70000.0  United States      94133
4      110000.0  United States      95354
5       79500.0  United States      78727
...         ...            ...        ...
8605    78000.0  United States  Not Asked
8608   101750.0  United States  Not Asked
8609    66000.0  United States  Not Asked
8614   137500.0  United States  Not Asked
8626   200000.0  United States  Not Asked

                                       EmploymentStatus  \
0                                    Full time employee
1                                    Full time employee
3                                    Full time employee
4                                    Full time employee
5                                    Full time employee
...                                                 ...
8605                                 Full time employee
8608                                 Full time employee
8609                                 Full time employee
8614  Full time employee of a consulting/contracting...
8626                                 Full time employee

                               JobTitle  YearsWithThisTypeOfJob  \
0                                   DBA                       5
1     Developer: App code (C#, JS, etc)                       6
3                               Analyst                       3
4                                   DBA                      25
5                               Analyst                       2
...                                 ...                     ...
8605                                DBA                      10
8608                                DBA                      13
8609  Developer: App code (C#, JS, etc)                      10
8614                                DBA                       6
8626                                DBA                       5

                                       HowManyCompanies OtherPeopleOnYourTeam  \
0     1 (this is the only company where I've had thi...                     2
1     1 (this is the only company where I've had thi...           More than 5
3     1 (this is the only company where I've had thi...                     2
4                                                     3                  None
5     1 (this is the only company where I've had thi...                  None
...                                                 ...                   ...
8605                                          Not Asked                  None
8608                                          Not Asked                  None
8609                                          Not Asked                  None
8614                                          Not Asked                     4
8626                                          Not Asked                     2

     PopulationOfLargestCityWithin20Miles  \
0                    20K-99K (large town)
1                        1M+ (metropolis)
3                        1M+ (metropolis)
4                        100K-299K (city)
5                        1M+ (metropolis)
...                                   ...
8605                            Not Asked
8608                            Not Asked
8609                            Not Asked
8614                            Not Asked
8626                            Not Asked

                         CareerPlansThisYear     Gender
0     Stay with the same employer, same role       Male
1                          Prefer not to say       Male
3            Change both employers and roles       Male
4     Stay with the same employer, same role       Male
5     Stay with the same employer, same role       Male
...                                      ...        ...
8605                               Not Asked  Not Asked
8608                               Not Asked  Not Asked
8609                               Not Asked  Not Asked
8614                               Not Asked  Not Asked
8626                               Not Asked  Not Asked

[5542 rows x 11 columns]

## 6. BDD1 : Des données aberrantes ?

La première colonne à observer est celle des salaires. En effet, certains salaires sont très bas mais nous n'avons pas beaucoup plus d'informations. De ce fait, j'ai choisi d'enlever tous les salaires inférieurs à 10 000 dollars. En faisant les moyennes de toutes les valeurs avant retrait, on tombe sur une moyenne de 108 767 dollars. Après retrait, la moyenne est de 108 905 dollars donc ces valeurs n'ont pas trop de conséquence sur cette statistique.

In [28]:
print(sorted(survey_data.SalaryUSD.unique()))
print("------------------------------------")
print(survey_data.SalaryUSD.mean())
print("------------------------------------")
selected_salaries = survey_data[survey_data['SalaryUSD'] > 10000]
print(selected_salaries)
print("------------------------------------")
print(selected_salaries.SalaryUSD.mean())

[0.0, 92.27, 125.0, 130.0, 135.0, 144.0, 150.0, 11100.0, 11500.0, 11800.0, 12300.0, 24000.0, 25000.0, 30000.0, 31200.0, 32000.0, 35000.0, 35800.0, 36000.0, 37400.0, 37500.0, 38000.0, 38500.0, 39000.0, 40000.0, 42000.0, 42500.0, 43000.0, 44000.0, 45000.0, 45760.0, 46000.0, 46350.0, 46820.0, 47000.0, 47240.0, 47500.0, 47840.0, 48000.0, 48500.0, 49000.0, 49260.0, 49500.0, 49900.0, 50000.0, 50085.0, 50750.0, 51000.0, 51700.0, 51800.0, 52000.0, 52500.0, 53000.0, 53040.0, 53500.0, 54000.0, 55000.0, 55500.0, 55600.0, 56000.0, 56500.0, 56600.0, 56700.0, 56800.0, 57000.0, 57200.0, 57300.0, 57400.0, 57500.0, 58000.0, 58500.0, 58775.0, 59000.0, 59009.0, 59100.0, 59700.0, 60000.0, 60090.0, 60166.0, 60500.0, 60600.0, 60900.0, 61000.0, 61200.0, 61500.0, 61773.0, 61800.0, 61900.0, 62000.0, 62400.0, 62500.0, 62661.0, 62700.0, 63000.0, 63300.0, 63330.0, 63344.0, 63400.0, 63500.0, 63600.0, 64000.0, 64477.0, 64480.0, 64750.0, 64775.0, 65000.0, 65240.0, 65500.0, 65543.0, 66000.0, 66050.0, 66500.0, 66625.0, 67000.0, 67017.0, 67080.0, 67275.0, 67418.0, 67500.0, 68000.0, 68081.0, 68800.0, 68950.0, 69000.0, 69500.0, 69725.0, 69875.0, 69990.0, 70000.0, 70180.0, 70400.0, 70760.0, 70788.0, 70863.0, 71000.0, 71400.0, 71500.0, 71594.0, 72000.0, 72135.0, 72176.0, 72450.0, 72500.0, 73000.0, 73500.0, 73745.0, 73757.0, 73840.0, 73855.0, 74000.0, 74351.0, 74400.0, 74813.0, 74880.0, 75000.0, 75100.0, 75110.0, 75200.0, 75500.0, 75524.0, 75600.0, 75700.0, 75720.0, 75736.0, 76000.0, 76125.0, 76200.0, 76500.0, 76780.0, 76800.0, 77000.0, 77040.0, 77140.0, 77250.0, 77500.0, 77575.0, 77600.0, 77624.0, 77650.0, 77700.0, 77800.0, 77850.0, 77855.0, 78000.0, 78052.0, 78250.0, 78500.0, 78600.0, 78750.0, 78852.0, 79000.0, 79063.0, 79280.0, 79500.0, 79750.0, 79800.0, 80000.0, 80100.0, 80104.0, 80751.0, 80753.0, 80939.0, 81000.0, 81100.0, 81471.0, 81500.0, 81600.0, 81645.0, 81723.0, 82000.0, 82400.0, 82500.0, 82804.0, 83000.0, 83018.0, 83200.0, 83232.0, 83500.0, 83599.0, 84000.0, 84048.0, 84460.0, 84500.0, 85000.0, 85155.0, 85200.0, 85488.0, 85500.0, 85540.0, 85544.0, 85571.0, 85654.0, 85850.0, 85900.0, 86000.0, 86006.0, 86065.0, 86150.0, 86174.0, 86200.0, 86500.0, 86600.0, 86650.0, 86700.0, 86735.0, 87000.0, 87100.0, 87360.0, 87400.0, 87428.0, 87491.0, 87500.0, 87600.0, 87700.0, 87890.0, 87992.0, 87996.0, 88000.0, 88002.0, 88050.0, 88130.0, 88500.0, 88580.0, 89000.0, 89035.0, 89139.0, 89500.0, 89600.0, 89750.0, 89814.0, 90000.0, 90200.0, 90250.0, 90500.0, 90875.0, 90900.0, 91000.0, 91214.0, 91350.0, 91371.0, 91400.0, 91484.0, 91500.0, 91520.0, 91660.0, 91800.0, 91865.0, 92000.0, 92100.0, 92103.0, 92220.0, 92425.0, 92500.0, 92600.0, 92700.0, 92750.0, 92822.0, 92880.0, 92950.0, 93000.0, 93156.0, 93500.0, 93567.0, 93800.0, 94000.0, 94188.0, 94200.0, 94245.0, 94500.0, 94994.0, 95000.0, 95138.0, 95185.0, 95200.0, 95207.0, 95378.0, 95500.0, 95532.0, 95600.0, 95612.0, 95800.0, 96000.0, 96108.0, 96500.0, 96600.0, 97000.0, 97088.0, 97232.0, 97263.0, 97325.0, 97335.0, 97500.0, 97700.0, 98000.0, 98259.0, 98500.0, 98600.0, 98670.0, 98750.0, 98760.0, 98800.0, 98966.0, 99000.0, 99100.0, 99220.0, 99257.0, 99350.0, 99500.0, 99600.0, 99800.0, 100000.0, 100001.0, 100093.0, 100200.0, 100280.0, 100282.0, 100318.0, 100400.0, 100420.0, 100500.0, 100646.0, 100800.0, 101000.0, 101230.0, 101250.0, 101400.0, 101500.0, 101725.0, 101750.0, 101900.0, 102000.0, 102104.0, 102200.0, 102232.0, 102456.0, 102494.0, 102500.0, 102800.0, 102900.0, 102960.0, 102990.0, 103000.0, 103107.0, 103110.0, 103250.0, 103500.0, 103520.0, 103900.0, 104000.0, 104104.0, 104300.0, 104310.0, 104495.0, 104500.0, 105000.0, 105560.0, 105607.0, 105721.0, 105750.0, 105800.0, 106000.0, 106300.0, 106400.0, 106500.0, 106575.0, 106700.0, 106956.0, 107000.0, 107500.0, 107540.0, 107690.0, 107800.0, 107814.0, 107900.0, 108000.0, 108250.0, 108500.0, 108564.0, 108707.0, 108819.0, 109000.0, 109200.0, 109300.0, 109500.0, 110000.0, 110040.0, 110154.0, 110240.0, 110400.0, 110700.0, 110724.0, 111000.0, 111250.0, 111300.0, 111500.0, 112000.0, 112350.0, 112500.0, 112700.0, 112840.0, 112874.0, 113000.0, 113097.0, 113100.0, 113300.0, 113400.0, 113500.0, 113650.0, 113842.0, 113900.0, 114000.0, 114300.0, 114500.0, 114700.0, 114830.0, 115000.0, 115200.0, 115500.0, 115544.0, 115600.0, 115700.0, 116000.0, 116300.0, 116340.0, 116400.0, 116500.0, 116965.0, 117000.0, 117031.0, 117500.0, 117600.0, 117770.0, 117832.0, 118000.0, 118111.0, 118400.0, 118450.0, 118500.0, 118556.0, 118560.0, 119000.0, 119071.0, 119500.0, 119831.0, 120000.0, 120240.0, 120250.0, 120500.0, 120792.0, 121000.0, 121200.0, 121368.0, 121500.0, 121807.0, 121950.0, 122000.0, 122400.0, 122500.0, 122645.0, 123000.0, 123200.0, 123217.0, 123300.0, 123500.0, 123585.0, 123600.0, 123634.0, 123847.0, 124000.0, 124500.0, 124600.0, 124800.0, 125000.0, 125250.0, 125400.0, 125800.0, 125900.0, 126000.0, 126500.0, 126800.0, 127000.0, 127500.0, 127750.0, 128000.0, 128500.0, 128593.0, 128800.0, 128825.0, 129000.0, 129780.0, 129800.0, 130000.0, 130271.0, 130500.0, 130750.0, 131000.0, 131500.0, 131700.0, 131720.0, 132000.0, 132131.0, 132387.0, 132500.0, 132725.0, 133000.0, 133010.0, 133500.0, 133700.0, 133800.0, 133900.0, 134000.0, 134391.0, 134400.0, 135000.0, 135300.0, 135500.0, 135600.0, 136000.0, 136500.0, 137000.0, 137443.0, 137500.0, 137900.0, 138000.0, 138500.0, 139000.0, 140000.0, 140321.0, 140394.0, 141000.0, 141750.0, 142000.0, 142500.0, 142600.0, 143000.0, 143200.0, 143547.0, 143800.0, 144000.0, 144700.0, 144760.0, 145000.0, 145493.0, 145500.0, 145600.0, 146000.0, 147000.0, 147200.0, 147500.0, 148000.0, 148500.0, 148986.0, 149000.0, 150000.0, 151000.0, 151400.0, 151500.0, 152000.0, 153000.0, 153027.0, 153300.0, 153400.0, 153500.0, 154000.0, 155000.0, 155500.0, 156000.0, 157000.0, 158000.0, 158200.0, 158500.0, 158566.0, 158995.0, 159000.0, 159056.0, 160000.0, 160750.0, 161449.0, 162000.0, 162788.0, 163000.0, 164000.0, 165000.0, 166000.0, 166400.0, 167000.0, 167250.0, 168000.0, 169000.0, 170000.0, 171000.0, 172000.0, 174000.0, 175000.0, 176000.0, 177000.0, 177400.0, 178000.0, 179000.0, 179800.0, 180000.0, 180600.0, 182000.0, 184000.0, 185000.0, 186000.0, 187000.0, 187500.0, 188000.0, 189000.0, 190000.0, 192000.0, 193000.0, 194000.0, 195000.0, 196000.0, 198000.0, 199000.0, 200000.0, 201000.0, 205000.0, 207000.0, 208000.0, 209000.0, 210000.0, 211000.0, 215000.0, 215250.0, 217000.0, 220000.0, 225000.0, 230000.0, 235000.0, 240000.0, 245000.0, 250000.0, 260000.0, 264000.0, 265000.0, 270000.0, 272000.0, 275000.0, 280000.0, 290000.0, 300000.0, 320000.0, 325000.0, 333000.0, 345000.0, 350000.0, 400000.0, 425000.0, 500000.0, 545000.0, 575000.0, 650000.0, 705000.0, 750000.0, 785000.0, 960000.0, 1000000.0, 1375000.0, 1450000.0, 1850000.0]
------------------------------------
108767.75681522915
------------------------------------
      SalaryUSD        Country PostalCode  \
0      115000.0  United States         03
1      100000.0  United States        NaN
3       70000.0  United States      94133
4      110000.0  United States      95354
5       79500.0  United States      78727
...         ...            ...        ...
8605    78000.0  United States  Not Asked
8608   101750.0  United States  Not Asked
8609    66000.0  United States  Not Asked
8614   137500.0  United States  Not Asked
8626   200000.0  United States  Not Asked

                                       EmploymentStatus  \
0                                    Full time employee
1                                    Full time employee
3                                    Full time employee
4                                    Full time employee
5                                    Full time employee
...                                                 ...
8605                                 Full time employee
8608                                 Full time employee
8609                                 Full time employee
8614  Full time employee of a consulting/contracting...
8626                                 Full time employee

                               JobTitle  YearsWithThisTypeOfJob  \
0                                   DBA                       5
1     Developer: App code (C#, JS, etc)                       6
3                               Analyst                       3
4                                   DBA                      25
5                               Analyst                       2
...                                 ...                     ...
8605                                DBA                      10
8608                                DBA                      13
8609  Developer: App code (C#, JS, etc)                      10
8614                                DBA                       6
8626                                DBA                       5

                                       HowManyCompanies OtherPeopleOnYourTeam  \
0     1 (this is the only company where I've had thi...                     2
1     1 (this is the only company where I've had thi...           More than 5
3     1 (this is the only company where I've had thi...                     2
4                                                     3                  None
5     1 (this is the only company where I've had thi...                  None
...                                                 ...                   ...
8605                                          Not Asked                  None
8608                                          Not Asked                  None
8609                                          Not Asked                  None
8614                                          Not Asked                     4
8626                                          Not Asked                     2

     PopulationOfLargestCityWithin20Miles  \
0                    20K-99K (large town)
1                        1M+ (metropolis)
3                        1M+ (metropolis)
4                        100K-299K (city)
5                        1M+ (metropolis)
...                                   ...
8605                            Not Asked
8608                            Not Asked
8609                            Not Asked
8614                            Not Asked
8626                            Not Asked

                         CareerPlansThisYear     Gender
0     Stay with the same employer, same role       Male
1                          Prefer not to say       Male
3            Change both employers and roles       Male
4     Stay with the same employer, same role       Male
5     Stay with the same employer, same role       Male
...                                      ...        ...
8605                               Not Asked  Not Asked
8608                               Not Asked  Not Asked
8609                               Not Asked  Not Asked
8614                               Not Asked  Not Asked
8626                               Not Asked  Not Asked

[5535 rows x 11 columns]
------------------------------------
108905.17289972899

## Intégration des données dans les tables de la base de données

In [29]:
save_to_sql(survey_data, "Responses", conn)

## 1. BDD 2 : Examen de la base de données et suppression des colonnes inutiles pour le brief

Pour cette première phase, analysons la structure de notre base de données

In [30]:
print(job_applying_data.head())
print(job_applying_data.columns)
print(job_applying_data.shape)

   Unnamed: 0                                          Job Title  \
0           0  Data Analyst, Center on Immigration and Justic...
1           1                               Quality Data Analyst
2           2  Senior Data Analyst, Insights & Analytics Team...
3           3                                       Data Analyst
4           4                             Reporting Data Analyst

              Salary Estimate  \
0  $37K-$66K (Glassdoor est.)
1  $37K-$66K (Glassdoor est.)
2  $37K-$66K (Glassdoor est.)
3  $37K-$66K (Glassdoor est.)
4  $37K-$66K (Glassdoor est.)

                                     Job Description  Rating  \
0  Are you eager to roll up your sleeves and harn...     3.2
1  Overview\n\nProvides analytical and technical ...     3.8
2  We’re looking for a Senior Data Analyst who ha...     3.4
3  Requisition NumberRR-0001939\nRemote:Yes\nWe c...     4.1
4  ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...     3.9

                              Company Name      Location  Headquarters  \
0           Vera Institute of Justice\n3.2  New York, NY  New York, NY
1  Visiting Nurse Service of New York\n3.8  New York, NY  New York, NY
2                         Squarespace\n3.4  New York, NY  New York, NY
3                            Celerity\n4.1  New York, NY    McLean, VA
4                             FanDuel\n3.9  New York, NY  New York, NY

                     Size  Founded               Type of ownership  \
0    201 to 500 employees     1961          Nonprofit Organization
1        10000+ employees     1893          Nonprofit Organization
2  1001 to 5000 employees     2003               Company - Private
3    201 to 500 employees     2002  Subsidiary or Business Segment
4   501 to 1000 employees     2009               Company - Private

                           Industry                            Sector  \
0                 Social Assistance                        Non-Profit
1  Health Care Services & Hospitals                       Health Care
2                          Internet            Information Technology
3                       IT Services            Information Technology
4               Sports & Recreation  Arts, Entertainment & Recreation

                      Revenue Competitors Easy Apply
0  $100 to $500 million (USD)          -1       True
1      $2 to $5 billion (USD)          -1         -1
2    Unknown / Non-Applicable     GoDaddy         -1
3   $50 to $100 million (USD)          -1         -1
4  $100 to $500 million (USD)  DraftKings       True
Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'],
      dtype='object')
(2253, 16)

La base de données est composée de 2 253 entrées pour 16 colonnes. Parmi elles, certaines ne seront pas utiles dans l'étude de la base de données.

In [31]:
job_applying_data = job_applying_data[['Job Title', 'Salary Estimate', 'Location']]
print(job_applying_data.head())

                                           Job Title  \
0  Data Analyst, Center on Immigration and Justic...
1                               Quality Data Analyst
2  Senior Data Analyst, Insights & Analytics Team...
3                                       Data Analyst
4                             Reporting Data Analyst

              Salary Estimate      Location
0  $37K-$66K (Glassdoor est.)  New York, NY
1  $37K-$66K (Glassdoor est.)  New York, NY
2  $37K-$66K (Glassdoor est.)  New York, NY
3  $37K-$66K (Glassdoor est.)  New York, NY
4  $37K-$66K (Glassdoor est.)  New York, NY

Dans le cadre de mon travail, j'ai choisi de conserver seulement trois colonnes. En effet, pour répondre aux questions, ces colonnes choisies seront utiles. POur la colonne Location, elle pourrait être intéressante pour la question du plan de carrière.

## 2. BDD2 : vérification des données manquantes dans la base de données

In [32]:
print(job_applying_data.isnull().sum())

Job Title          0
Salary Estimate    0
Location           0
dtype: int64

On constate ici qu'il n'y a pas de données manquantes dans la base de données.

## 3. BDD2 : Le traitement des dates dans la base de données

In [33]:
print(job_applying_data.dtypes)

Job Title          object
Salary Estimate    object
Location           object
dtype: object

Aucune date à l'horizon donc on peut poursuivre notre data cleaning

## 4. BDD2 : Gérons les doublons !

In [34]:
print(job_applying_data.duplicated().value_counts())
print(job_applying_data[job_applying_data.duplicated(keep=False)])

job_applying_data = job_applying_data.drop_duplicates(keep='first')
print(job_applying_data.duplicated().value_counts())

False    1895
True      358
dtype: int64
                         Job Title              Salary Estimate  \
3                     Data Analyst   $37K-$66K (Glassdoor est.)
5                     Data Analyst   $37K-$66K (Glassdoor est.)
7             Data Science Analyst   $37K-$66K (Glassdoor est.)
8                     Data Analyst   $37K-$66K (Glassdoor est.)
10                    Data Analyst   $37K-$66K (Glassdoor est.)
...                            ...                          ...
2227  Data Base Programmer/Analyst  $57K-$100K (Glassdoor est.)
2231               Sr Data Analyst  $57K-$100K (Glassdoor est.)
2235  Data Base Programmer/Analyst  $57K-$100K (Glassdoor est.)
2238  Senior Contract Data Analyst  $78K-$104K (Glassdoor est.)
2239  Senior Contract Data Analyst  $78K-$104K (Glassdoor est.)

            Location
3       New York, NY
5       New York, NY
7       New York, NY
8       New York, NY
10      New York, NY
...              ...
2227      Denver, CO
2231  Louisville, CO
2235      Denver, CO
2238      Aurora, CO
2239      Aurora, CO

[523 rows x 3 columns]
False    1895
dtype: int64

Cas particulier ici : nous avons 3 colonnes sur lesquels travailler. Or, nous repérons des doublons sur ces seules trois colonnes, ce qui est plutôt normal. En vérifiant en amont sur la base de données brutes, il n'y a en réalité aucun doublon. Dans ce cas-là, on peut bien sûr se permettre de supprimer les doublons car nous n'avons pas beaucoup de colonnes. Cela allège notre base au moins et au final, cela n'aurait rien changé, suppression ou pas.

## 5. BDD2 : Vérifions la consistence des données !

In [35]:
print(sorted(job_applying_data.Location.unique()))
print("---------------------------------------")
print(job_applying_data['Job Title'].unique())
print("---------------------------------------")
print(sorted(job_applying_data['Salary Estimate'].unique()))

['Addison, TX', 'Alachua, FL', 'Alameda, CA', 'Alhambra, CA', 'Allegheny West, PA', 'Allen, TX', 'American Fork, UT', 'Anaheim, CA', 'Arcadia, CA', 'Arlington Heights, IL', 'Arlington, TX', 'Athens, GA', 'Aurora, CO', 'Austin, TX', 'Azusa, CA', 'Beech Grove, IN', 'Bellevue, WA', 'Bensalem, PA', 'Berkeley Heights, NJ', 'Berkeley, CA', 'Berwyn, PA', 'Beverly Hills, CA', 'Blue Bell, PA', 'Boothwyn, PA', 'Boulder, CO', 'Brea, CA', 'Bridgeview, IL', 'Broadview, IL', 'Bronx, NY', 'Brooklyn, NY', 'Broomfield, CO', 'Burbank, CA', 'Burlingame, CA', 'Burlingame, KS', 'Burr Ridge, IL', 'Camden, NJ', 'Campbell, CA', 'Carmel, IN', 'Carrollton, TX', 'Carson, CA', 'Cedar Park, TX', 'Centennial, CO', 'Cerritos, CA', 'Chandler, AZ', 'Charlotte, NC', 'Chesapeake, VA', 'Chester Township, PA', 'Chicago, IL', 'City of Industry, CA', 'Columbus, OH', 'Conshohocken, PA', 'Coppell, TX', 'Culver City, CA', 'Cupertino, CA', 'DC Ranch, AZ', 'Dallas, TX', 'Daly City, CA', 'Deerfield, IL', 'Denver, CO', 'Des Plaines, IL', 'Downers Grove, IL', 'Doylestown, PA', 'Draper, UT', 'Duarte, CA', 'Dublin, OH', 'East Palo Alto, CA', 'El Cajon, CA', 'El Segundo, CA', 'Elk Grove Village, IL', 'Emeryville, CA', 'Englewood, CO', 'Essex Fells, NJ', 'Evanston, IL', 'Exton, PA', 'Fairfield, NJ', 'Far Rockaway, NY', 'Farmers Branch, TX', 'Feasterville Trevose, PA', 'Florham Park, NJ', 'Fort Eustis, VA', 'Fort Lee, NJ', 'Fort Mill, SC', 'Fort Sam Houston, TX', 'Fort Washington, PA', 'Fort Worth, TX', 'Foster City, CA', 'Franklin Lakes, NJ', 'Fremont, CA', 'Gainesville, FL', 'Gardena, CA', 'Glendale, AZ', 'Glendale, CA', 'Glenview, IL', 'Grapevine, TX', 'Great Neck, NY', 'Greenwood Village, Arapahoe, CO', 'Hampton, VA', 'Hanford, CA', 'Harrison, NY', 'Haworth, NJ', 'Henderson, CO', 'Hercules, CA', 'Hermosa Beach, CA', 'Hilliard, OH', 'Hoboken, NJ', 'Horsham, PA', 'Houston, TX', 'Huntersville, NC', 'Indian Trail, NC', 'Indianapolis, IN', 'Inglewood, CA', 'Irving, TX', 'Irwindale, CA', 'Iselin, NJ', 'Issaquah, WA', 'Itasca, IL', 'Jacksonville, FL', 'Jeffersonville, IN', 'Jersey City, NJ', 'Kent, WA', 'King of Prussia, PA', 'Kirkland, WA', 'Lackland AFB, TX', 'Lake Success, NY', 'Lakewood, CO', 'Lawrence, IN', 'Lehi, UT', 'Lewisville, TX', 'Little Ferry, NJ', 'Littleton, CO', 'Lone Tree, CO', 'Long Beach, CA', 'Long Island City, NY', 'Los Angeles, CA', 'Los Gatos, CA', 'Louisville, CO', 'Malvern, PA', 'Manhasset, NY', 'Marin City, CA', 'Marina del Rey, CA', 'Marlton, NJ', 'Maywood, IL', 'Menlo Park, CA', 'Mesa, AZ', 'Millbrae, CA', 'Milpitas, CA', 'Monterey Park, CA', 'Montvale, NJ', 'Moorestown, NJ', 'Mooresville, NC', 'Mount Laurel, NJ', 'Mount Vernon, NY', 'Mountain View, CA', 'National City, CA', 'New York, NY', 'Newark, CA', 'Newark, NJ', 'Newport News, VA', 'Newtown Square, PA', 'Newtown, PA', 'Norfolk, VA', 'Norristown, PA', 'Northbrook, IL', 'Northfield, IL', 'Northlake, IL', 'Northridge, CA', 'Novato, CA', 'Oak Brook, IL', 'Oakland, CA', 'Palo Alto, CA', 'Panorama City, CA', 'Paoli, PA', 'Parsippany, NJ', 'Pasadena, CA', 'Pasadena, TX', 'Pearland, TX', 'Philadelphia, PA', 'Phoenix, AZ', 'Pico Rivera, CA', 'Plano, TX', 'Pleasanton, CA', 'Plymouth Meeting, PA', 'Portsmouth, VA', 'Queens Village, NY', 'Radnor, PA', 'Redmond, WA', 'Redwood City, CA', 'Reedley, CA', 'Renton, WA', 'Richardson, TX', 'Ridley Park, PA', 'Riverton, UT', 'Roanoke, TX', 'Rolling Meadows, IL', 'Round Rock, TX', 'Salt Lake City, UT', 'San Antonio, TX', 'San Bruno, CA', 'San Diego, CA', 'San Fernando, CA', 'San Francisco, CA', 'San Jose, CA', 'San Mateo, CA', 'San Rafael, CA', 'San Ramon, CA', 'Sandy, UT', 'Santa Clara, CA', 'Santa Monica, CA', 'Scottsdale, AZ', 'Seattle, WA', 'Secaucus, NJ', 'Signal Hill, CA', 'Smithfield, VA', 'South Plainfield, NJ', 'South San Francisco, CA', 'Southlake, TX', 'Spring, TX', 'Stafford, TX', 'Stanford, CA', 'Staten Island, NY', 'Suffolk, VA', 'Sugar Land, TX', 'Summit, NJ', 'Sunnyvale, CA', 'Tarrant, TX', 'Tempe, AZ', 'Topeka, KS', 'Torrance, CA', 'Union City, CA', 'Valley Stream, NY', 'Venice, CA', 'Virginia Beach, VA', 'Visalia, CA', 'Walnut Creek, CA', 'Wayne, PA', 'Weehawken, NJ', 'West Chester, PA', 'West Conshohocken, PA', 'West Jordan, UT', 'West Lake Hills, TX', 'West Orange, NJ', 'West Point, PA', 'Westerville, OH', 'Westlake, TX', 'Whippany, NJ', 'Whitestown, IN', 'Whittier, CA', 'Wilmington, DE', 'Woodbridge, NJ', 'Woodcliff Lake, NJ', 'Woodland Hills, CA', 'Woodridge, IL', 'Yorktown, VA']
---------------------------------------
['Data Analyst, Center on Immigration and Justice (CIJ)'
 'Quality Data Analyst'
 'Senior Data Analyst, Insights & Analytics Team [Customer Operations]'
 ... 'Senior Data Analyst (Corporate Audit)'
 'Technical Business Analyst (SQL, Data analytics, ETL)'
 'Senior Quality Data Analyst']
---------------------------------------
['$110K-$190K (Glassdoor est.)', '$113K-$132K (Glassdoor est.)', '$24K-$48K (Glassdoor est.)', '$26K-$47K (Glassdoor est.)', '$27K-$52K (Glassdoor est.)', '$28K-$52K (Glassdoor est.)', '$29K-$38K (Glassdoor est.)', '$30K-$53K (Glassdoor est.)', '$30K-$54K (Glassdoor est.)', '$31K-$59K (Glassdoor est.)', '$32K-$56K (Glassdoor est.)', '$34K-$61K (Glassdoor est.)', '$35K-$42K (Glassdoor est.)', '$35K-$45K (Glassdoor est.)', '$35K-$67K (Glassdoor est.)', '$36K-$67K (Glassdoor est.)', '$37K-$44K (Glassdoor est.)', '$37K-$66K (Glassdoor est.)', '$37K-$68K (Glassdoor est.)', '$37K-$70K (Glassdoor est.)', '$38K-$68K (Glassdoor est.)', '$40K-$72K (Glassdoor est.)', '$40K-$74K (Glassdoor est.)', '$41K-$78K (Glassdoor est.)', '$41K-$86K (Glassdoor est.)', '$42K-$63K (Glassdoor est.)', '$42K-$66K (Glassdoor est.)', '$42K-$74K (Glassdoor est.)', '$42K-$76K (Glassdoor est.)', '$43K-$69K (Glassdoor est.)', '$43K-$76K (Glassdoor est.)', '$43K-$77K (Glassdoor est.)', '$43K-$94K (Glassdoor est.)', '$44K-$78K (Glassdoor est.)', '$44K-$82K (Glassdoor est.)', '$45K-$78K (Glassdoor est.)', '$45K-$88K (Glassdoor est.)', '$46K-$102K (Glassdoor est.)', '$46K-$86K (Glassdoor est.)', '$46K-$87K (Glassdoor est.)', '$47K-$74K (Glassdoor est.)', '$47K-$76K (Glassdoor est.)', '$47K-$81K (Glassdoor est.)', '$48K-$88K (Glassdoor est.)', '$48K-$96K (Glassdoor est.)', '$49K-$112K (Glassdoor est.)', '$49K-$91K (Glassdoor est.)', '$50K-$86K (Glassdoor est.)', '$50K-$93K (Glassdoor est.)', '$51K-$87K (Glassdoor est.)', '$51K-$88K (Glassdoor est.)', '$51K-$93K (Glassdoor est.)', '$53K-$104K (Glassdoor est.)', '$53K-$94K (Glassdoor est.)', '$53K-$99K (Glassdoor est.)', '$54K-$75K (Glassdoor est.)', '$55K-$101K (Glassdoor est.)', '$55K-$103K (Glassdoor est.)', '$57K-$100K (Glassdoor est.)', '$57K-$103K (Glassdoor est.)', '$57K-$104K (Glassdoor est.)', '$57K-$67K (Glassdoor est.)', '$57K-$70K (Glassdoor est.)', '$58K-$93K (Glassdoor est.)', '$59K-$85K (Glassdoor est.)', '$60K-$110K (Glassdoor est.)', '$60K-$124K (Glassdoor est.)', '$60K-$66K (Glassdoor est.)', '$63K-$116K (Glassdoor est.)', '$64K-$113K (Glassdoor est.)', '$65K-$120K (Glassdoor est.)', '$65K-$81K (Glassdoor est.)', '$67K-$92K (Glassdoor est.)', '$68K-$87K (Glassdoor est.)', '$69K-$127K (Glassdoor est.)', '$73K-$127K (Glassdoor est.)', '$73K-$82K (Glassdoor est.)', '$73K-$89K (Glassdoor est.)', '$74K-$123K (Glassdoor est.)', '$76K-$122K (Glassdoor est.)', '$77K-$132K (Glassdoor est.)', '$78K-$104K (Glassdoor est.)', '$82K-$116K (Glassdoor est.)', '$84K-$90K (Glassdoor est.)', '$89K-$151K (Glassdoor est.)', '$93K-$159K (Glassdoor est.)', '$97K-$129K (Glassdoor est.)', '$98K-$114K (Glassdoor est.)', '$99K-$178K (Glassdoor est.)', '-1']

Rien de particulier à signaler de ce côté. On peut passer à la suite

## 6. BDD2 : Des données aberrantes ?

## Intégration des données dans les tables de la base de données

In [36]:
save_to_sql(job_applying_data, "Job_Adverts", conn)

/home/apprenant/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(